--swiftversion 5.3
--enable wrapEnumCases,wrapSwitchCases
--disable redundantReturn,andOperator,trailingCommas,wrapSingleLineComments
--stripunusedargs closure-only
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
