name: CI
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - '*'
  workflow_dispatch:
jobs:
  lint:
    runs-on: macOS-latest
    env:
      MINT_PATH: ${{ github.workspace }}/mint
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Cache Mint dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.MINT_PATH }}
          key: ${{ runner.os }}-mint-${{ hashFiles('**/Mintfile') }}
          restore-keys: ${{ runner.os }}-mint-
      - name: Install mint
        run: brew install mint
      - name: Bootstrap mint dependencies
        run: mint bootstrap --link
      - name: SwiftFormat version
        run: mint run swiftformat --version
      - name: SwiftFormat
        run: mint run swiftformat . --lint --verbose
      - name: swiftlang/swift-format
        run: swift format lint --recursive Odysee 2>&1 | grep -v 'Indentation\|RemoveLine\|AddLines\|LineLength\|TrailingWhitespace\|TrailingComma' | tee /dev/stderr | [ $(wc -c) -eq 0 ]

  build:
    runs-on: macOS-26
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Copy sample GoogleService-Info.plist
        run: cp Odysee/GoogleService-Info.plist.sample Odysee/GoogleService-Info.plist
      - name: Run xcodebuild
        run: xcodebuild -project Odysee.xcodeproj/ -scheme Odysee -configuration Release -destination generic/platform=iOS CODE_SIGN_IDENTITY="" CODE_SIGNING_ALLOWED=NO -derivedDataPath DerivedData -archivePath DerivedData/Archive/Odysee archive

  test:
    runs-on: macOS-26
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Copy sample GoogleService-Info.plist
        run: cp Odysee/GoogleService-Info.plist.sample Odysee/GoogleService-Info.plist
      - name: Run xcodebuild
        run: xcodebuild test -project Odysee.xcodeproj/ -scheme Odysee -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.1' CODE_SIGN_IDENTITY="" CODE_SIGNING_ALLOWED=NO -derivedDataPath DerivedData -archivePath DerivedData/Archive/Odysee -only-testing:OdyseeTests
