<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TwitterConsumerKey</key>
    <string>Qp24b0ExnVQZAr6sRmJquy2rh</string>
    <key>TwitterConsumerSecret</key>
    <string>hGRqDTzVTilIDTGnt9G92tiF9KC9SGb8GDuw4YvaKWd0Xrks0R</string>
</dict>
</plist>